;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;   The README contains a lot of information
;
;==========================================================

[colors]
background = #2f2f2f
foreground = #cd3f3f
background-alt = #3f3f3f
foreground-alt = #E6E5E5
primary = #cd3f3f
secondary = #7A736D
alert = #9D7153
adapta-red = #FF5252
adapta-yellow = #C9BC0E
adapta-lightgreen = #4DB6AC
adapta-green = #009688


[bar/mainbar]
monitor = ${env:MONITOR}
width = 100%
height = 18
fixed-center = false
background = ${colors.background}
foreground = ${colors.foreground}
line-size = 3
line-color = #f00
border-size = 0
border-color = #00000000
padding-left = 0
padding-right = 2
module-margin-left = 1
module-margin-right = 2
font-0 = misc fixed:pixelsize=10;1
font-1 = unifont:fontformat=truetype:size=8:antialias=false;0
font-2 = wuncon siji:pixelsize=10;1
font-3 = "Font Awesome 5 Free:style=Regular:pixelsize=10;1"
font-4 = "Font Awesome 5 Free:style=Solid:pixelsize=10;1"
font-5 = "Font Awesome 5 Brands:pixelsize=10;1"
font-6 = "Bitstream Vera Sans:style=Roman:size=10;2"
font-7 = "FontAwesome:size=11;3"
font-8 = "Noto Sans Mono:size=15;4"
font-9 = "Bitstream Vera Sans:style=Roman:size=15;4"
modules-left = ewmh title xwindow mpd
modules-center = weather
modules-right = mpd pulseaudio memory1 cpu-graph battery date
tray-position = right
tray-padding = 2
cursor-click = pointer
cursor-scroll = ns-resize

############
###Modules###
############

[module/ewmh]
type = internal/xworkspaces
label-active = " %icon% %name%  "
label-active-foreground = ${colors.foreground-alt}
label-active-background = ${colors.background-alt}
label-active-underline = ${colors.primary}
label-occupied = " %icon% %name%  "
label-occupied-underline = ${colors.secondary}
label-urgent = " %icon% %name%  "
label-urgent-foreground = ${colors.foreground}
label-urgent-background = ${colors.background}
label-urgent-underline  = ${colors.alert}
label-empty = " %icon% %name%  "
label-empty-foreground = ${colors.foreground}


[module/title]
type = internal/xwindow

format = <label>
format-background = ${color.shade2}
format-foreground = ${color.modulefg}
format-padding = 2

label = %title%
label-maxlen = 30

[module/bspwm]
type = internal/bspwm

label-focused = %index%
label-focused-background = ${colors.background-alt}
label-focused-underline= ${colors.primary}
label-focused-padding = 2

label-occupied = %index%
label-occupied-padding = 2

label-urgent = %index%!
label-urgent-background = ${colors.alert}
label-urgent-padding = 2

label-empty = %index%
label-empty-foreground = ${colors.foreground-alt}
label-empty-padding = 2

; Separator in between workspaces
; label-separator = |

[module/i3]
type = internal/i3
format = <label-state> <label-mode>
index-sort = true
wrapping-scroll = false

; Only show workspaces on the same output as the bar
;pin-workspaces = true

label-mode-padding = 2
label-mode-foreground = #000
label-mode-background = ${colors.primary}

; focused = Active workspace on focused monitor
label-focused = %index%
label-focused-background = ${module/bspwm.label-focused-background}
label-focused-underline = ${module/bspwm.label-focused-underline}
label-focused-padding = ${module/bspwm.label-focused-padding}

; unfocused = Inactive workspace on any monitor
label-unfocused = %index%
label-unfocused-padding = ${module/bspwm.label-occupied-padding}

; visible = Active workspace on unfocused monitor
label-visible = %index%
label-visible-background = ${self.label-focused-background}
label-visible-underline = ${self.label-focused-underline}
label-visible-padding = ${self.label-focused-padding}

; urgent = Workspace with urgency hint set
label-urgent = %index%
label-urgent-background = ${module/bspwm.label-urgent-background}
label-urgent-padding = ${module/bspwm.label-urgent-padding}

; Separator in between workspaces
; label-separator = |


[module/mpd]
type = internal/mpd
format-online = <label-song>  <icon-prev> <icon-stop> <toggle> <icon-next>

icon-prev = 
icon-stop = 
icon-play = 
icon-pause = 
icon-next = 

label-song-maxlen = 25
label-song-ellipsis = true

########
###cpu###
########

[module/cpu]
type = internal/cpu
interval = 2
format-prefix = " "
format-prefix-foreground = ${colors.foreground-alt}
format-underline = #cd3f3f
label = %percentage:2%%

[module/cpu-graph]
type = internal/cpu
interval = 0.08
;format = " <ramp-coreload>"
format = " <ramp-coreload>"
format-margin = 1
ramp-coreload-0 = ▁ 
ramp-coreload-0-foreground = ${colors.foreground}
ramp-coreload-1 = ▂ 
ramp-coreload-1-foreground = ${colors.foreground}
ramp-coreload-2 = ▃ 
ramp-coreload-2-foreground = ${colors.adapta-lightgreen}
ramp-coreload-3 = ▄ 
ramp-coreload-3-foreground = ${colors.adapta-green}
ramp-coreload-4 = ▅ 
ramp-coreload-4-foreground = ${colors.adapta-yellow}
ramp-coreload-5 = ▆ 
ramp-coreload-5-foreground = ${colors.adapta-yellow}
ramp-coreload-6 = ▇ 
ramp-coreload-6-foreground = ${colors.adapta-red}
ramp-coreload-7 = █ 
ramp-coreload-7-foreground = ${colors.adapta-red}
ramp-coreload-font = 3
format-background = ${colors.background}
format-foreground = ${colors.foreground}
format-underline = ${colors.foreground}
format-padding = 3

############
###Memory###
############

[module/memory1]
type = internal/memory

; Seconds to sleep between updates
; Default: 1
interval = 2
; Available tags:
;   <label> (default)
;   <bar-used>
;   <bar-free>
;   <ramp-used>
;   <ramp-free>
;   <bar-swap-used>
;   <bar-swap-free>
;   <ramp-swap-used>
;   <ramp-swap-free>
; format = " <bar-used>  <ramp-swap-used>"

format = "<label>"

ramp-swap-used-0 = ▁
ramp-swap-used-1 = ▂
ramp-swap-used-2 = ▃
ramp-swap-used-3 = ▄
ramp-swap-used-4 = ▅
ramp-swap-used-5 = ▆
ramp-swap-used-6 = ▇
ramp-swap-used-7 = █
ramp-swap-used-0-foreground = ${colors.foreground}
ramp-swap-used-1-foreground = ${colors.adapta-lightgreen}
ramp-swap-used-2-foreground = ${colors.adapta-green}
ramp-swap-used-3-foreground = ${colors.adapta-yellow}
ramp-swap-used-4-foreground = ${colors.adapta-red}
ramp-swap-used-5-foreground = ${colors.adapta-red}
ramp-swap-used-6-foreground = ${colors.adapta-red}
ramp-swap-used-7-foreground = ${colors.adapta-red}
ramp-swap-used-font = 3
ramp-swap-used-underline = ${colors.foreground-alt}

; Available tokens:
;   %percentage_used% (default)
;   %percentage_free%
;   %gb_used%
;   %gb_free%
;   %gb_total%
;   %mb_used%
;   %mb_free%
;   %mb_total%
;   %percentage_swap_used%
;   %percentage_swap_free%
;   %mb_swap_total%
;   %mb_swap_free%
;   %mb_swap_used%
;   %gb_swap_total%
;   %gb_swap_free%
;   %gb_swap_used%

label = " %mb_used%%"


; Only applies if <bar-used> is used

bar-used-indicator = 
bar-used-width = 10
bar-used-fill = ━
bar-used-empty = ━
bar-used-indicator-foreground = ${colors.foreground}
bar-used-empty-foreground = ${colors.foreground}
bar-used-foreground-0 = ${colors.adapta-green}
bar-used-foreground-1 = ${colors.adapta-yellow}
bar-used-foreground-2 = ${colors.adapta-red}



; Only applies if <ramp-used> is used
ramp-used-0 = ▁
ramp-used-1 = ▂
ramp-used-2 = ▃
ramp-used-3 = ▄
ramp-used-4 = ▅
ramp-used-5 = ▆
ramp-used-6 = ▇
ramp-used-7 = █
ramp-used-0-foreground = ${colors.foreground}
ramp-used-1-foreground = ${colors.foreground}
ramp-used-2-foreground = ${colors.adapta-lightgreen}
ramp-used-3-foreground = ${colors.adapta-green}
ramp-used-4-foreground = ${colors.adapta-yellow}
ramp-used-5-foreground = ${colors.adapta-yellow}
ramp-used-6-foreground = ${colors.adapta-red}
ramp-used-7-foreground = ${colors.adapta-red}
ramp-used-font = 3

; Only applies if <ramp-free> is used
ramp-free-0 = ▁
ramp-free-1 = ▂
ramp-free-2 = ▃
ramp-free-3 = ▄
ramp-free-4 = ▅
ramp-free-5 = ▆
ramp-free-6 = ▇
ramp-free-7 = █

format-background = ${colors.background}
format-foreground = ${colors.foreground}
format-underline = #ffb52a
format-padding = 1

#########
###Date###
#########

[module/date]
type = internal/date
date =    %m/%d/%Y%%{F-}  %%{F#fff}%I:%M %p%{F-}
date-alt = %%{F#fff}%A, %B %d, %Y  %%{F#fff}%I:%M %p%{F#666}%%{F#fba922}%S%%{F-}
format-underline = #cd3f3f

##########
###Sound###
##########

[module/pulseaudio]
type = internal/pulseaudio

format-volume = <label-volume> <bar-volume>
label-volume = VOL %percentage%%
label-volume-foreground = ${root.foreground}

label-muted = 🔇 muted
label-muted-foreground = #666

bar-volume-width = 10
bar-volume-foreground-0 = #55aa55
bar-volume-foreground-1 = #55aa55
bar-volume-foreground-2 = #55aa55
bar-volume-foreground-3 = #55aa55
bar-volume-foreground-4 = #55aa55
bar-volume-foreground-5 = #f5a70a
bar-volume-foreground-6 = #ff5555
bar-volume-gradient = false
bar-volume-indicator = |
bar-volume-indicator-font = 2
bar-volume-fill = ─
bar-volume-fill-font = 2
bar-volume-empty = ─
bar-volume-empty-font = 2
bar-volume-empty-foreground = ${colors.foreground-alt}

###########
###Battery###
###########

[module/battery]
type = internal/battery
battery = BAT1
adapter = AC
full-at = 98

format-charging = <animation-charging> <label-charging>
label-charging =  %percentage%%
format-charging-foreground = ${colors.foreground}
format-charging-background = ${colors.background}
format-charging-underline = #ffb52a

format-discharging = <ramp-capacity> <label-discharging>
label-discharging =  %percentage%%
format-discharging-underline = #ffb52a
format-discharging-foreground = ${colors.foreground}
format-discharging-background = ${colors.background}

format-full-prefix = " "
format-full-prefix-foreground = #ffffff
format-full-underline = #ffb52a
format-full-foreground = ${colors.foreground}
format-full-background = ${colors.background}

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 
ramp-capacity-foreground = #ffffff

animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 
animation-charging-foreground = #ffffff
animation-charging-framerate = 750


#####################################
[module/weather]
type = custom/script
interval = 10
format = <label>
format-prefix = " "
format-prefix-foreground = #FFFFFF
format-foreground = ${colors.foreground}
format-background = ${colors.background}
exec = python -u ~/.config/polybar/scripts/weather.py
tail = true
#####################################

[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over
;pseudo-transparency = false

;[global/wm]
;margin-top = 5
;margin-bottom = 5

; vim:ft=dosini
